<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->
<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->
<link rel="icon" href="{{ '/favicon.png' | relative_url }}" type="image/png">
<meta name="image" property="og:image" content="{{ '/images/databases-devroom-2026.jpg' | absolute_url }}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:description" content="{{ page.description | default: site.description | default: site.github.project_tagline }}">
<meta name="twitter:image" content="{{ '/images/databases-devroom-2026.jpg' | absolute_url }}" />
<!-- end custom head snippets -->